@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');
* {
     margin: 0;
     padding: 0;
}

html {
     scroll-behavior: smooth;
}

.f-left {
     float: left;
}

.f-right {
     float: right;
}

.mt-20 {
     margin-top: 20px;
}

.mb-20 {
     margin-bottom: 20px;
}

.ml-20 {
     margin-left: 20px;
}

.ml-10 {
     margin-left: 10px;
}

.mr-10 {
     margin-right: 10px;
}

.mt-10 {
     margin-top: 10px;
}

.mb-10 {
     margin-bottom: 10px;
}

.mr-20 {
     margin-right: 20px;
}

.ml-40 {
     margin-left: 40px;
}

.p-20 {
     padding: 20px;
}

.p-10 {
     padding: 10px;
}

.clearfix {
     clear: both;
}

::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-track {
     background-color: #000055;
}

::-webkit-scrollbar-thumb {
     background-color: blue;
     border-radius: 300px;
     margin: 0 2px;
}